---
import MoneyCard from '@components/MoneyCard.astro';
import SectionTitle from '@components/SectionTitle.astro';
import SwapBtn from '@components/SwapBtn.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title='Currency Converter'>
  <main
    class='bg-light flex flex-col md:flex-row gap-20 py-12 px-6 md:p-20 rounded-lg shadow-lg container xl:max-w-6xl mx-auto'
  >
    <section class='flex-1 md:max-w-[50%] mx-auto'>
      <SectionTitle text='Currency equivalent' />
      <p class='text-sm text-brown font-medium max-w-prose'>
        Calcula el equivalente, de acuerdo al salario minimo Colombiano <span
          id='salaryCop'
          class='font-medium text-dark'></span> vs el salario minimo en Portugal <span
          id='salaryEur'
          class='font-medium text-dark'></span>
      </p>
      <div class='mt-10 flex flex-col justify-center items-center'>
        <MoneyCard>
          <input
            class='appearance-none flex-1 font-normal text-base px-3 py-2 border border-gray-300 rounded-md outline-none placeholder:font-light placeholder:text-sm visited:invalid:border-red-500 visited:invalid:animate-pulse'
            type='number'
            pattern='[0-9]+'
            placeholder='Ingresa el monto a comparar'
            required
          />
          <span
            id='principalCurrency'
            class='text-lg font-semibold absolute right-6 bg-white top-1/2 -translate-y-1/2 pr-4'>EUR</span
          >
          <div class='validation'></div>
        </MoneyCard>
        <SwapBtn />
        <MoneyCard>
          <span class='px-3 text-lg font-semibold' id='result'></span>
          <span id='secondCurrency' class='text-lg font-semibold ml-auto pr-5'>COP</span>
        </MoneyCard>
        <button
          id='converted'
          class='bg-dark-blue text-white uppercase text-sm font-medium w-fit px-8 py-2 rounded shadow self-start mt-4 transition-all transform scale-100 hover:bg-opacity-95 active:scale-95'
          >Calcular</button
        >
      </div>
    </section>

    <section class='flex-1'>
      <SectionTitle text='Currency conversion' />
      <MoneyCard>
        <div class='w-full'>
          <SectionTitle text='Moneda Principal COP' />
          <div class='grid grid-cols-3 gap-2 text-brown font-normal text-xs'>
            <span>Monto</span>
            <span>TRM</span>
            <span>Total</span>
          </div>
          <hr class='my-2' />
          <div id='table' class='grid grid-cols-3 gap-2 text-brown font-normal text-sm'></div>
        </div>
      </MoneyCard>
    </section>
  </main>
</Layout>
<script>
  import {salaryCOP, salaryEUR, currencies, ENDPOINT} from '@db/data';

  const locale = 'es-CO';
  const options = {
    style: 'currency',
    currency: 'COP',
  };
  const optionsEUR = {
    style: 'currency',
    currency: 'EUR',
  };
  const formatter = new Intl.NumberFormat(locale, options);
  const formatterEUR = new Intl.NumberFormat(locale, optionsEUR);
  const salaryCop = document.querySelector('#salaryCop');
  const salaryEur = document.querySelector('#salaryEur');
  const principalCurrency = document.querySelector('#principalCurrency');
  const secondCurrency = document.querySelector('#secondCurrency');

  salaryEur.innerHTML = formatterEUR.format(salaryEUR);
  salaryCop.innerHTML = formatter.format(salaryCOP);

  principalCurrency.innerHTML = currencies.EUR;
  secondCurrency.innerHTML = currencies.COP;

  const result = document.querySelector('#result');
  const btn = document.querySelector('#converted');
  const swap = document.querySelector('#swap');
  const input = document.querySelector('input');

  const table = document.querySelector('#table');

  btn.addEventListener('click', e => {
    e.stopPropagation();
    const value = input.value;
    if (!value) return;

    const from = principalCurrency.innerHTML;
    const to = secondCurrency.innerHTML;

    fetch(`${ENDPOINT}&from=${from}&to=${to}&amount=${value}&format=json`)
      .then(response => response.json())
      .then(resp => {
        const {rates, amount} = resp;
        const {rate, rate_for_amount} = rates[to];
        const spanAmount = document.createElement('span');
        spanAmount.innerHTML = from === currencies.EUR ? formatterEUR.format(amount) : formatter.format(amount);
        const spanRate = document.createElement('span');
        spanRate.innerHTML = rate;
        const spanTotal = document.createElement('span');
        spanTotal.innerHTML =
          from === currencies.EUR ? formatter.format(rate_for_amount) : formatterEUR.format(rate_for_amount);
        spanTotal.classList.add('font-medium', 'text-sm');
        table.prepend(spanTotal);
        table.prepend(spanRate);
        table.prepend(spanAmount);
      });

    if (from === currencies.EUR) {
      result.innerHTML = formatter.format((Number(value) / salaryEUR) * salaryCOP);
    }

    if (from === currencies.COP) {
      result.innerHTML = formatter.format((Number(value) / salaryCOP) * salaryEUR);
    }
  });

  swap.addEventListener('click', e => {
    e.stopPropagation();
    swap.classList.add('animate-spin');
    setTimeout(() => {
      swap.classList.remove('animate-spin');
    }, 500);
    if (principalCurrency.innerHTML === currencies.EUR) {
      principalCurrency.innerHTML = currencies.COP;
      secondCurrency.innerHTML = currencies.EUR;
      return;
    }

    principalCurrency.innerHTML = currencies.EUR;
    secondCurrency.innerHTML = currencies.COP;
  });
</script>
